{% extends '::base.html.twig' %}
{%  block title %}Productos {% endblock %}
{%  block body  %}

    <form method="post" action="{{ path('app_product_doAdd') }}">
     Nombre: <input type="text" name="name" /> </br>
     Descripcion: <input type="text" name="desc" /> </br>
     Precio: <input type="number" name="price" value="price"/> </br>
            <input type= "submit" value="subir"/>
  </form>
{% endblock %}
